# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local

# Backend
backend/vendor/
backend/.env
backend/storage/app/private/*
!backend/storage/app/private/.gitignore
backend/storage/logs/*
